#bio-image {
  height: 250px;
  width: 200px;
}

body {
  background-image: url("../images/concrete_seamless.png");
}

.navbar-brand {
  background-color: #4aaaa5;
}

header {
  border-bottom: 2px solid #cccccc;
}

.head {
  color:#4aaaa5;
}

.footer {
  background-color: #666666;
  border-top: 7px solid #4aaaa5;
  width: 100%; 
}

.footColor {
  color: #cccccc;
}

#submit{
  background-color: #4aaaa5;
  color: white;
}

.description{
position: absolute;
width: 300px;
top: 150px;
padding: 8px;
width: 300px;
text-align: center;
background-color: #4aaaa5;
color: white 
}

